.DS_Store
*.code-workspace
*.pyc
data/
data_backup/
runs/
*.pth
*.hid
output.txt
*.pt
*.info
scripts/compare_rom_and_fom_single.py
*.ini_label*
log_*
*.test_log*
*.onnx
np_data.npy
*.plan
lhs.png
scripts/__pycache__/
htmlcov/
.coverage
test_covhtml/
